/* @import url("//unpkg.com/sakura.css/css/sakura-ink.css"); */
@import url("//unpkg.com/bamboo.css@1.3.7/dist/dark.min.css");

body {
  max-width: 80ch;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure > figcaption {
  text-align: center;
  font-size: smaller;
}
figure > img {
  margin-bottom: 0.5rem;
}

[data-editor-execute] {
  float: left;
  width: 80%;
  margin-top: 0;
  font-size: large;
  font-weight: bold;
  height: 50px;
}
[data-editor-hint] {
  width: 20%;
  margin-top: 0;
  font-size: large;
  font-weight: bold;
  height: 50px;
  background-color: dimgray;
  border-color: dimgray;
}

pre {
  margin-bottom: 0;
  max-height: 400px;
  color: lightgray;
}

pre > code {
  color: white;
  font-size: 1em;
}
